.WGWActivity {
	font-family: verdana;
	font-size: 9pt;
	background-color: #fff;
	color: #000;
	}

div {
	line-height: 20px;
	}

select {
	line-height: 20px;
	height: 20px;
	font-family: verdana;
	font-size: 9pt;
	}
	
.FontPreview {
	border: #000 1px solid; 
	line-height: 60px; 
	text-align: center; 
	overflow: hidden;
	color: #000;
	background-color: #fff;
	}
